.nav-wrapper {
  height: 50px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #FFB75E, #ED8F03); /* Standard syntax (must be last) */
}

.brand-logo {
  position: relative;
  top: 10px;
}


.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}