.title {
  color: #fff;
  padding: 100px 25px;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.title h1 {
  font-size: 70px;
}

.title p {
  color: white;
  font-size: 20px;
  font-style: italic;
}


#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.container .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.7);
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

#container {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#login-button button {
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  z-index: 2;
}